@import "tailwindcss";

@theme {
  --color-primary: hsl(245, 58%, 51%);
  --color-primary-hover: hsl(245, 58%, 45%);
  --color-primary-light: hsl(245, 58%, 95%);
}

body {
  @apply antialiased text-gray-900 bg-gray-50;
}
